---
const { image } = Astro.props
import { Image } from 'astro:assets'
---

<style>
	button {
		border: none;
		background: none;
		cursor: pointer;
		padding: 0;
	}

	button:hover {
		transform: scale(1.02);
	}

	dialog {
		border: none;
		background: none;
		margin: auto;
		padding: 0;
	}

	dialog div {
		width: 100%;
		height: 100%;
		display: flex;
		flex-direction: column;
		justify-content: center;
	}

	dialog::backdrop {
		backdrop-filter: blur(8px);
		cursor: pointer;
	}

	dialog img {
		max-width: 90vw;
		max-height: 80vh;
	}
</style>

<script>
	const dialogs = document.querySelectorAll('dialog')
	dialogs.forEach((dialog) => {
		dialog.addEventListener('click', (event) => {
			console.log(event.target)
			if (event.target === dialog) {
				dialog.close()
			}
		})
	})
</script>

{//TODO Extract description from image}
<button command="show-modal" commandfor={`${image.src}-dialog`}>
	<Image src={image} alt="Photo"/>
</button>
<dialog id={`${image.src}-dialog`}>
	<div>
		<img src={image.src} alt="Photo"/>
		<button id="close-button" commandfor={`${image.src}-dialog`} command="close">
			Close
		</button>
	</div>
</dialog>
