---
import '../../styles/global.css'
import './style.css'
import Navbar from '../../components/Navbar.astro'
import dialyDiaryIcon from './assets/projects/daily-diary/icon.png'
import dailyDiaryShakespeare from "./assets/projects/daily-diary/phoneScreenshots/Shakespeare's diary.png"
import dailyDiarySettings from './assets/projects/daily-diary/phoneScreenshots/Settings.png'
import mitrella from './assets/projects/mitrella/mitrella.png'
import pythonQuine from './assets/projects/python-quine/source.png'
import moleculeSimStart from './assets/projects/covalent-molecule-simulation/sim-start.png'
import moleculeSimEnd from './assets/projects/covalent-molecule-simulation/sim-end.png'
import bearings from './assets/projects/bearings/source.png'
import haggisInterpreter from './assets/projects/haggis-interpreter/haggis-example.png'
---

<!doctype html>
<html lang="en">
	<head>
		<title>Alex Gorichev</title>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	</head>

	<body>
		<main>
			<div id="projects-grid">
				<div class="card">
					<figure>
						<img src={dialyDiaryIcon.src} />
						<img src={dailyDiaryShakespeare.src} />
						<img src={dailyDiarySettings.src} />
					</figure>
					<a href="https://github.com/Voklen/Daily-Diary">Daily Diary</a>
					<p>
						A diary app for android that has one entry per day that is saved as
						a plaintext file
					</p>
				</div>
				<div class="card">
					<figure>
						<img src={mitrella.src} />
					</figure>
					<a href="https://github.com/Voklen/Mitrella">Mitrella</a>
					<p>
						A graphing calculator, inspired by desmos but using my own
						stack-based mathematical notation.
					</p>
				</div>
				<div class="card">
					<figure>
						<img src={pythonQuine.src} />
					</figure>
					<a href="https://github.com/Voklen/Output-Source">Python Quine</a>
					<p>A Python program that prints out it's own source code.</p>
				</div>
				<div class="card">
					<figure>
						<img src={moleculeSimStart.src} />
						<img src={moleculeSimEnd.src} />
					</figure>
					<a href="https://github.com/Voklen/Covalent-Molecule-Simulation"
						>Covalent Bond Simulation</a
					>
					<p>
						A visual simulation of PD-PD forces made with the
						<a href="https://godotengine.org/">Godot game engine</a>.
					</p>
				</div>
				<div class="card">
					<figure>
						<img src={bearings.src} />
					</figure>
					<a href="https://github.com/Voklen/Covalent-Molecule-Simulation"
						>Bearings</a
					>
					<p>
						A small program to calculate bearings written in
						<a href="https://www.uiua.org/">Uiua</a>.
					</p>
				</div>
				<div class="card">
					<figure>
						<img src={haggisInterpreter.src} />
					</figure>
					<a href="https://github.com/Voklen/Haggis-Interpreter"
						>Haggis Interpreter</a
					>
					<p>
						A small interpreter for the SQA's (Scottish Qualifications
						Authority) programming language 'Haggis' writen in Rust.
					</p>
				</div>
			</div>
		</main>
		<Navbar />
	</body>
</html>
